# Vim
[._]*.sw[a-p]
*~

# helps ripgrep not be silly
.git

containers/web/Dockerfile
containers/db/Dockerfile
containers/redis/Dockerfile
containers/web/src/
cron/crontab
secrets
containers/db/data/
containers/web/data/
containers/redis/data/
containers/db/backups/
containers/infinity/Dockerfile
containers/infinity/data/

containers/db-dev/Dockerfile
containers/infinity-dev/Dockerfile
containers/redis-dev/Dockerfile
containers/web-dev/Dockerfile
containers/web-dev/src/
containers/db-dev/data/
containers/web-dev/data/
containers/redis-dev/data/
containers/infinity-dev/data/
containers/db-dev/backups/
