# Vim
[._]*.sw[a-p]
*~

# helps ripgrep not be silly
.git

containers/web/Dockerfile
containers/db/Dockerfile
containers/redis/Dockerfile
containers/web/src/
cron/crontab
secrets
containers/db/data
containers/web/data
containers/redis/data
containers/db/backups/
containers/infinity/Dockerfile
containers/infinity/data
