# Vim
[._]*.sw[a-p]
*~

# helps ripgrep not be silly
.git

containers/db/Dockerfile
containers/mav/Dockerfile
containers/mav/mail-archive-viewer/
cron/crontab
secrets
containers/db/data
containers/mav/data
